<% var blogData = [{link:"chokes-and-strangulations---my-favorite-ways-to-safely-submit-someone.html",date:1606236840270},{link:"how-i-made-this-blog.html",date:1605049200000},{link:"introduction-to-this-website-and-blog.html",date:1606207824976}] %>


<% var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %>
<% var years = Array.from( new Set(blogData.map( function(blogDataObject) { return new Date(blogDataObject.date).getFullYear()}))) %>
<main>
    <% include ../components/header %>

    <section class="container--writing">
        <h1>The Brain Dump</h1>
        <% years.forEach( function(year) { %>
        <h6 class="year">
            <%= year %>
        </h6>
        <ul>
            <% blogData.forEach( function(blogFile) { %>
            <% if( year === (new Date(blogFile.date).getFullYear())) { %>

            <li>
                <span><%= new Date(blogFile.date).getDate() %> <%= months[new Date(blogFile.date).getMonth()] %> -
                </span>
                <a
                    href="<%= blogFile.link %>"><%=blogFile.link.split('.')[0].split('-').map(function(word){ if (word[0] === undefined) { return "-" + word.slice(1)} return word[0].toUpperCase() + word.slice(1)}).join(' ') %></a>
            </li>
            <% } %>
            <% }) %>
        </ul>
        <% }) %>
    </section>

</main>
<% include ../components/footer %>